# Ignore Python cache
__pycache__/

# Ignore virtual environment
venv/

# Ignore dataset files & raw audio
data/raw/
data/processed/

# Ignore model checkpoints
*.pt
*.h5
*.pkl

# Ignore logs and temporary files
logs/
*.log

# Ignore environment variables (API keys, model paths)
.env
