transformers
datasets
whisper
librosa
scikit-learn
numpy
tensorflow
keras
requests
flask
ffmpeg
fastapi
python-dotenv
torch>=2.6.0
torchaudio>=2.6.0
torchvision
matplotlib
pandas
tqdm
kaggle
albumentations
sentencepiece
sacremoses
ffmpeg-python   
fastapi
uvicorn
python-multipart
